# Python cache
__pycache__/
*.pyc

# Virtual environments (just in case it gets moved inside the repo)
myenv/
venv/

# Result outputs
Results_*/

# Ignore Python bytecode and cache directories
__pycache__/
*.py[cod]

# Ignores plots and figures
figures/
*.png
*.jpeg
